<template>
	<div id="breadcrumbs" class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h2><el-button type="text" @click="goBack()"> <i class="el-icon-back"></i></el-button></h2>
			<ol>
				<li><a href="index.html">首页</a></li>
				<li v-for="(item, index) in breadcrumbs" :key="item" @click="toPage(item)"><a href="#">{{item}}</a></li>
				<li>{{ pageName }}</li>
			</ol>
		</div>
	</div>
</template>
<!-- import api.js -->
<!-- <script src="assets/js/axios.js"></script>
<script src="assets/js/axios.min.js"></script>
<script src="assets/js/api.js"></script> -->
<script>
	new Vue({
		el: '#breadcrumbs',
		data() {
			return {
				dataLevelDict: {
					'0': '0级数据',
					'1': '1级数据'
				},
				dataTypeDict: {
					'0': '历史观测数据',
					'1': '现代设备观测数据'
				},
				pageName: '',
				breadcrumbs: [],
				deviceList: []
			}
		},
		mounted() {},
		created() {
			this.initDatasetsName()
			this.initeDataTypeName()
			this.initDeviceName()
			// this.initDataLevel()
			this.initPageName()
		},
		methods: {
			initeDataTypeName() {
				if (this.getDataType() != null) {
					this.breadcrumbs.push(this.dataTypeDict[this.getDataType()])
				}
			},
			initDeviceName() {
				if (this.getDataLevel() == null) return
				if (this.getDeviceId() != null) {
					response = getDeviceInfo()
					response.then(res => {
						this.deviceList = res.data.data || ["自动气象站", "雨量筒", "能见度仪", "云高仪", "雨滴谱仪", "雾滴谱仪",
							"颗粒物仪", "微雨雷达", "微波辐射计"]
							deviceId = this.getDeviceId()
							dName = this.deviceList[deviceId].deviceName || ''
							this.breadcrumbs.push(dName)
							
							this.initDataLevel()
					}).catch(err => {
						this.deviceList = ["自动气象站", "雨量筒", "能见度仪", "云高仪", "雨滴谱仪", "雾滴谱仪", "颗粒物仪", "微雨雷达",
							"微波辐射计"]
					})
				}
			},
			initDataLevel() {
				if (this.getDataLevel() != null){
					this.breadcrumbs.push(this.dataLevelDict[this.getDataLevel()])
				}
			},
			initPageName() {
				this.pageName = document.title
			},
			initDatasetsName() {
				if (this.getDatasetsType() != null){
					this.breadcrumbs.push('数据产品')
				}
			},
			toPage(item) {
				switch (item) {
					case '现代设备观测数据':
						pushTo('inner-page-currentDataIntroduce.html?datasets-type=2')
						break

					case '历史观测数据':
						pushTo('inner-page-historyIntroduce.html?datasets-type=1')
						break
				}
				
				// if (item.endsWith('级数据')){
				// 		deviceName = this.breadcrumbs[this.breadcrumbs.indexOf(item)-1]
				// 		for (var i = 0; i < this.deviceList.length; i++) {
				// 			if (this.deviceList[i].deviceName == deviceName)
				// 			{
				// 				pushTo('inner-page-deviceIntroduce.html?datasets-type=2&data-type=1&device-id=' + i)
				// 			}
				// 		}
				// }
				// for (var i = 0; i < this.deviceList.length; i++) {
				// 	if (this.deviceList[i].deviceName == item)
				// 	{
				// 		pushTo('inner-page-deviceIntroduce.html?datasets-type=2&data-type=1&device-id=' + i)
				// 	}
				// }
				
				if (item.endsWith('级数据')){
						deviceName = this.breadcrumbs[this.breadcrumbs.indexOf(item)-1]
						for (var i = 0; i < this.deviceList.length; i++) {
							if (this.deviceList[i].deviceName == deviceName)
							{
								pushTo('inner-page-currentDataIntroduce.html?datasets-type=2')
							}
						}
				}
				for (var i = 0; i < this.deviceList.length; i++) {
					if (this.deviceList[i].deviceName == item)
					{
						pushTo('inner-page-currentDataIntroduce.html?datasets-type=2')
					}
				}
				
			},
			getDatasetsType() {
				if (window.location.href.lastIndexOf('datasets-type=')!=-1){
					return window.location.href.split('datasets-type=')[1][0]
				}
			},
			getDataType() {
				if (window.location.href.lastIndexOf('data-type=')!=-1){
					return window.location.href.split('data-type=')[1][0]
				}
			},
			getDeviceId() {
				if (window.location.href.lastIndexOf('device-id=') != -1) {
					return window.location.href.split('device-id=')[1][0]
				}
			},
			getDataLevel() {
				if (window.location.href.lastIndexOf('data-level=') != -1) {
					return window.location.href.split('data-level=')[1][0]
				}
			},
			goBack(){
				console.log(document.referrer)
				// window.location.href = document.referrer
				if (window.location.href.indexOf('inner-page-currentData.html') != -1){
					pushTo(document.referrer.split('/').pop())
				}else{
					console.log("111111")
					window.history.back()
				}
			},
		}
	})
</script>
