<div id="introduce">
	<div class="Introduce-div">
		<h2>现代设备观测数据集</h2>
		<p>
			现代观测设备数据集里面主要收录了2015年11月-2020年10月期间在庐山云雾试验站便携式自动气象站, 雨量筒, 能见度仪, 云高仪, 雨滴谱仪, 雾滴谱仪,
			微雨雷达7种现代观测设备的数据，颗粒物仪和微波辐射计数据为测试数据。0级数据集是原始数据文件经标准命名后的数据集，1级数据集是原始数据文件经过标准命名后, 结构规范,
			质量控制和格式统一后的数据集，具有文本csv和NetCDF两种数据格式。
		</p>
	</div>

	<template>
		<el-tabs v-model="activeName" type="card" class="demo-tabs" @tab-click="handleClick">
			<!-- 云高仪 -->
			<el-tab-pane label="云高仪" name="first">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="Level2" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">后向散射回波廓线
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2015年11月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">16秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:文本his</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:无</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">UPAR_MODI_MOBS_SUOB_LSYW_YCCL_VAIS_L2</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
						<el-collapse-item title="Level3" name="2">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">边界层高度和云底高度
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2015年11月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">16秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:文本his</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:无</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">UPAR_MODI_MOBS_SUOB_LSYW_YCCL_VAIS_L3</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img style="height: 348px;" src="assets/img/devices/云高仪.jpg" />
				</div>
			</el-tab-pane>
			<!-- 便携式自动气象站 -->
			<el-tab-pane label="便携式自动气象站" name="second">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="便携式自动气象站" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									气压, 温度, 相对湿度, 风向, 风速, 雨量
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2015年11月-2020年8月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">1分钟
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:xlsx</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:一致性, 连续性, 界限值, 时变性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">SURE_MODI_MOBS_SUOB_LSYW_AWS_HY_LX</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/便携式自动气象站.jpg" />
				</div>
			</el-tab-pane>
			<!-- 雨量筒 -->
			<el-tab-pane label="雨量筒" name="third">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="雨量筒" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									温度, 降雨量, 最大温度, 累计降雨量
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2018年6月-2020年9月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">不固定
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:连续性, 界限值, 奇异值检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">SURE_MODI_MOBS_SUOB_LSYW_PRE_HOBO_LX</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/雨量筒.jpg" />
				</div>
			</el-tab-pane>
			<!-- 能见度仪 -->
			<el-tab-pane label="能见度仪" name="fourth">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="能见度仪" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									1分钟水平能见度, 10分钟水平能见度等
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2015年11月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">16秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:连续性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">SURE_MODI_MOBS_SUOB_LSYWZ_VIS_VAIS_LX</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/能见度仪.jpg" />
				</div>
			</el-tab-pane>
			<!-- 雨滴谱仪 -->
			<el-tab-pane label="雨滴谱仪" name="fifth">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="雨滴谱仪" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									<!-- <p> -->
									等级粒子直径和速度对应粒子个数, 累计降雨量, 1分钟总降水强度, 1分钟液态降水强度, 1分钟固态降水强度等
									<!-- </p> -->
								</el-descriptions-item>
								<el-descriptions-item label="范围及分档数" content-class-name="my-content">
									粒径范围:0.125-大于8mm，22个粒径档；速度范围:0-大于10m/s ，20个速度档
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2015年11月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">1分钟
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:txt</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:连续性和异常数据检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">SURE_MODI_MOBS_SUOB_LSYW_RSD_THIES_LX</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/雨滴谱仪.jpg" />
				</div>
			</el-tab-pane>
			<!-- 雾滴谱仪 -->
			<el-tab-pane label="雾滴谱仪" name="sixth">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="雾滴谱仪" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									分档粒子数, 数浓度, 体积浓度, 体积中值直径, 有效直径, 空气流速等
								</el-descriptions-item>
								<el-descriptions-item label="分档数" content-class-name="my-content">
									20个粒径档:2-50μm
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2015年11月-2020年8月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">1秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:连续性和参数合理性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">SURE_MODI_MOBS_SUOB_LSYW_FSD_DMT_LX</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/雾滴谱仪.jpg" />
				</div>
			</el-tab-pane>
			<!-- 颗粒物仪 -->
			<el-tab-pane label="颗粒物仪" name="seventh">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="颗粒物仪" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content my-content-2">
									PM2.5, PMcoarse, PM10的质量浓度, 1小时平均质量浓度和24h平均质量浓度等
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2021年4月（测试数据）
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">1小时
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:参数合理性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">SURF_MODI_MOBS_SUOB_LSYW_AERM_THER_LX</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/颗粒物仪.jpg" />
				</div>
			</el-tab-pane>
			<!-- 微雨雷达 -->
			<el-tab-pane label="微雨雷达" name="eighth">
				<div class="device_content">
					<el-collapse v-model="collapseName_WYLD">
						<el-collapse-item title="原始数据（level raw）" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">转换方程, 原始功率谱
								</el-descriptions-item>
								<el-descriptions-item label="分档数" content-class-name="my-content">31个高度档；64个粒径档
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">
									2015年11月-2017年9月；2019年9月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">10秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:参数合理性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">RADA_MODI_MOBS_SUOB_LSYW_RRD_METE_Lraw</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
						<el-collapse-item title="处理后数据（Level pro）" name="2">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									转化方程, FFT谱, 雨滴尺度谱, 雨滴数浓度谱, 路径积分衰减, 雷达反射率因子, 订正后的雷法反射率因子, 降水强度, 液态水含量, 垂直速度等
								</el-descriptions-item>
								<el-descriptions-item label="分档数" content-class-name="my-content">31个高度档；64个粒径档
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">
									2015年11月-2017年9月；2019年9月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">10秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:参数合理性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">RADA_MODI_MOBS_SUOB_LSYW_RRD_METE_Lpro</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
						<el-collapse-item title="平均数据(Level ave)" name="3">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									转化方程, FFT谱, 雨滴尺度谱, 雨滴数浓度谱, 路径积分衰减, 雷达反射率因子, 订正后的雷法反射率因子, 降水强度, 液态水含量, 垂直速度等
								</el-descriptions-item>
								<el-descriptions-item label="分档数" content-class-name="my-content">31个高度档；64个粒径档
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">
									2015年11月-2017年9月；2019年9月-2020年10月
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">10秒
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:参数合理性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">RADA_MODI_MOBS_SUOB_LSYW_RRD_METE_Lave</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img style="height: 384px;" src="assets/img/devices/微雨雷达.jpg" />
				</div>
			</el-tab-pane>
			<!-- 微波辐射计 -->
			<el-tab-pane label="微波辐射计" name="ninth">
				<div class="device_content">
					<el-collapse v-model="collapseName_cloud">
						<el-collapse-item title="微波辐射计" name="1">
							<el-descriptions :column="1">
								<el-descriptions-item label="观测要素" content-class-name="my-content">
									地面温度, 相对湿度和气压；红外温度；云底高度；垂直累计水汽含量, 垂直累计液态水含量；温度, 相对湿度, 水汽密度和液态水含量廓线等
								</el-descriptions-item>
								<el-descriptions-item label="观测时间" content-class-name="my-content">2021年3-4月（测试数据）
								</el-descriptions-item>
								<el-descriptions-item label="时间分辨率" content-class-name="my-content">分钟级
								</el-descriptions-item>
								<el-descriptions-item label="数据集级别及格式" content-class-name="my-content">
									<el-tag size="small">0级:csv</el-tag>
									<el-tag size="small">1级:csv和NetCDF</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="质控描述" content-class-name="my-content">
									<el-tag size="small">0级:无</el-tag>
									<el-tag size="small">1级:参数合理性检查</el-tag>
								</el-descriptions-item>
								<el-descriptions-item label="文件名标识" content-class-name="file-content">
									<el-tag size="small">UPAR_MODI_MOBS_SUOB_LSYW_MRD_RAD_L2</el-tag>
								</el-descriptions-item>
							</el-descriptions>
						</el-collapse-item>
					</el-collapse>
				</div>
				<div class="device-img">
					<img src="assets/img/devices/微波辐射计.jpg" />
				</div>
			</el-tab-pane>
		</el-tabs>
	</template>
	<div class="data-download">
		<el-button type="primary"
			@click="toPage('inner-page-currentData.html?datasets-type=2&data-level=0&data-type=1')" rounds>
			0级数据集下载
		</el-button>
		<el-button type="primary"
			@click="toPage('inner-page-currentData.html?datasets-type=2&data-level=1&data-type=1')" rounds>
			1级数据集下载
		</el-button>
	</div>
	<el-row style="padding: 5px 5px 5px 15px; border-bottom: #1977CC solid 2px;">
		<el-col class="document-col" :span="24">
			<div class="grid-content bg-purple-dark el-icon-document">&nbsp;相关文档</div>
		</el-col>
	</el-row>
	<!-- <el-collapse v-model="documentName" > -->
		<!-- <el-collapse-item title="0级数据集" name="1">
			<el-row style="padding: 5px 5px 5px 0px;">
				<el-col :span="24">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>无</span> -->
						<!-- <el-link target="_blank" href="data/自动气象站.pdf" type="primary">
							自动气象站</el-link> -->
					<!-- </div>
				</el-col>
			</el-row>
		</el-collapse-item> -->
		<!-- <el-collapse-item title="1级数据集" name="2"> -->
			<el-row style="padding: 5px 5px 5px 0px;">
				<el-col :span="24" v-if="active_id==0">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/云高仪.pdf" type="primary">云高仪
						</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==1">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/自动气象站.pdf" type="primary">
							自动气象站</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==2">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/雨量筒.pdf" type="primary">雨量筒</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==3">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/能见度仪.pdf" type="primary">能见度仪
						</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==4">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/雨滴谱仪.pdf" type="primary">雨滴谱仪
						</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==5">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/雾滴谱仪.pdf" type="primary">雾滴谱仪
						</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==6">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/颗粒物仪.pdf" type="primary">颗粒物仪
						</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==7">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/微雨雷达.pdf" type="primary">微雨雷达
						</el-link>
					</div>
				</el-col>
				<el-col :span="24" v-if="active_id==8">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp;</i>1级数据集使用说明文档:</span>
						<el-link target="_blank" href="data/微波辐射计.pdf" type="primary">微波辐射计
						</el-link>
					</div>
				</el-col>
				<el-col :span="24">
					<div class="grid-content bg-purple-dark">
						<span><i class="el-icon-arrow-right">&nbsp; </i>存在问题及注意事项</span>
						<el-link target="_blank" href="data/存在问题及注意事项.zip" type="primary">存在问题及注意事项</el-link>
					</div>
				</el-col>
			</el-row>
		<!-- </el-collapse-item> -->
	<!-- </el-collapse> -->
</div>
<script>
	new Vue({
		el: '#introduce',
		data() {
			return {
				activeName: 'first',
				collapseName_WYLD: ['1', '2', '3'],
				collapseName_cloud: ['1', '2'],
				active_id: 0,
				documentName: ['1', '2']
			}
		},
		beforeMount() {},
		watch: {},
		computed: {},
		methods: {
			// downloadData() {
			// 	this.$message.success('请求成功，等待服务器响应！');
			// },
			pushTo(url) {
				window.location.href = url;
			},
			downloadData() {
				this.$message.success('请求成功，等待服务器响应！');
			},
			pushTo(url) {
				window.location.href = url;
			},

			handleClick(tab, event) {
				// console.log(tab, event);
				// console.log(this.activeName);
				if (this.activeName == 'first') {
					this.active_id = 0
				} else if (this.activeName == 'second') {
					this.active_id = 1
				} else if (this.activeName == 'third') {
					this.active_id = 2
				} else if (this.activeName == 'fourth') {
					this.active_id = 3
				} else if (this.activeName == 'fifth') {
					this.active_id = 4
				} else if (this.activeName == 'sixth') {
					this.active_id = 5
				} else if (this.activeName == 'seventh') {
					this.active_id = 6
				} else if (this.activeName == 'eighth') {
					this.active_id = 7
				} else if (this.activeName == 'ninth') {
					this.active_id = 8
				}
			},
			toPage(url) {
				window.location.href = url + '&device-id=' + this.active_id;
			}
		}
	})
</script>
