<div id="introduce">
	<el-empty description="描述文字"></el-empty>
	<el-button style="margin-left: 45%" type="primary" @click="pushTo('inner-page-deviceIntroduce.html?datasets-type=2&data-type=1&device-id=0')" rounds>设备数据下载
	</el-button>
	<el-row
		style="color: #FFFFFF;padding: 5px 5px 5px 15px;background: url(assets/img/data_recommend_bgBlue.png) 0px 0px no-repeat;">
		<el-col :span="24">
			<div class="grid-content bg-purple-dark el-icon-document">&nbsp;相关文档</div>
		</el-col>
	</el-row>
	<el-row style="padding: 5px 5px 5px 15px;">
		<el-col :span="24">
			<div class="grid-content bg-purple-dark">
				<span><i class="el-icon-magic-stick">&nbsp;春季吉林地区层状冷云中冰晶的形成与雪晶增长特点相关资料：</i></span>
				<el-link target="_blank" href="data/春季吉林地区层状冷云中冰晶的形成与雪晶增长特点_游来光.pdf" type="primary">春季吉林地区层状冷云中冰晶的形成与雪晶增长特点</el-link>
			</div>
		</el-col>
		<el-col :span="24">
			<div class="grid-content bg-purple-dark">
				<span><i class="el-icon-magic-stick">&nbsp;南极冰雪晶的形态分析相关资料：</i></span>
				<el-link target="_blank" href="data/南极冰雪晶的形态分析.pdf" type="primary">南极冰雪晶的形态分析</el-link>
			</div>
		</el-col>
		<el-col :span="24">
			<div class="grid-content bg-purple-dark">
				<span><i class="el-icon-magic-stick">&nbsp;云室实验室对空心冰颗粒散射特性的调查_埃尔塞维尔增强读取器相关资料：</i></span>
				<el-link target="_blank" href="data/云室实验室对空心冰颗粒散射特性的调查_埃尔塞维尔增强读取器.pdf" type="primary">云室实验室对空心冰颗粒散射特性的调查</el-link>
			</div>
		</el-col>
	</el-row>
</div>
<style>
	.el-button--primary {
		color: #FFF; 
		background-color: #1977CC;
		border-color: #1977CC;
		margin-bottom: 50px;
	}

	.el-link--inner {
		color: #1977CC;
	}

	.el-link.el-link--primary {
		color: #1977CC;
	}
</style>
<script>
	new Vue({
		el: '#introduce',
		data() {
			return {}
		},
		beforeMount() {},
		watch: {},
		computed: {},
		methods: {
			downloadData() {
				this.$message.success('请求成功，等待服务器响应！');
			},
			pushTo(url){
				window.location.href=url;
			}
		}
	})
</script>
