<section id="customer" class="about">
	<div class="container">
		<div class="section-title">
			<h2>用户须知</h2>
			<!-- <p>引导语</p> -->
		</div>
		<div class="row whyUs">
			<!-- <div
				class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
				<img src="assets/img/about.jpg" class="glightbox play-btn mb-4"></a>
			</div> -->

			<div
				class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 customer">
				<!-- <h5>用户须知：</h5> -->
				<!-- <p></p>
				<p></p> -->

				<div class="icon-box customer">
					<!--  <span>1</span>-->
					<div class="icon"><i class="fa fa-hand-o-right"></i></div>
					<!-- <h4 class="title"><a href="">须知1：</a></h4> -->
					<p class="description">
						为了保证外场科学试验数据的安全，数据使用者需要填写数据使用申请表（见附件1）并签署数据使用协议（见附件2），若有违法使用数据集的行为，将承担相关法律责任。
					</p>
				</div>

				<div class="icon-box">
					<!-- <i class="bx bx-gift"></i> -->
					<div class="icon"><i class="fa fa-hand-o-right"></i></div>
					<!-- <h4 class="title"><a href="">须知2：</a></h4> -->
					<p class="description">
						为尊重知识产权、保障数据贡献者和服务者的权益，请数据使用者在基于本数据所产生的研究成果（包括项目评估报告、验收报告，以及学术论文或毕业论文等）
						中标注数据来源，并按照文献引用方式标注需引用的参考文献（见附件3）。
					</p>
				</div>

				<!-- <div class="icon-box">
					<div class="icon"><i class="bx bx-atom"></i></div>
					<h4 class="title"><a href="">附件3</a></h4>
					<p class="description">
						点击下载附件3
					</p>
				</div> --><!-- 
				<div>
					<el-row style="margin-top:40px; padding: 5px 5px 5px 0px; border-bottom: #1977CC solid 2px;">
						<el- class="document-col" :span="24">
							<div class="grid-content bg-purple-dark el-icon-document">&nbsp;相关附件</div>
							</el-col>
					</el-row>
					<el-row style="padding: 5px 5px 5px 0px;">
						<el-col :span="24">
							<div class="grid-content bg-purple-dark">
								<span><i class="el-icon-arrow-right">&nbsp;</i></span>
								<el-link target="_blank" href="" type="primary">
									附件1</el-link>
							</div>
						</el-col>
						<el-col :span="24">
							<div class="grid-content bg-purple-dark">
								<span><i class="el-icon-arrow-right">&nbsp;</i></span>
								<el-link target="_blank" href="" type="primary">附件2</el-link>
							</div>
						</el-col>
						<el-col :span="24">
							<div class="grid-content bg-purple-dark">
								<span><i class="el-icon-arrow-right">&nbsp;</i></span>
								<el-link target="_blank" href="" type="primary">
									附件3
								</el-link>
							</div>
						</el-col>
					</el-row>
				</div>
			</div> -->
		</div>
	</div>
</section>
<script>
	new Vue({
		el: '#customer',
		data() {
			return {}
		},
		beforeMount() {},
		watch: {},
		computed: {},
		methods: {}
	})
</script>
