<section id="#data-introduction" class="why-us">
	<div class="container">
		<div class="row">
			<div class=" d-flex align-items-stretch" style="flex-direction: column;">
				<div class="content">
					<div class="section-title">
						<h2>庐山云雾观测数据集</h2>
						<p>这里是引导语.</p>
					</div>
					<div class="row data-introduce-row">
						<div class="textBox" style="width: 70%;">
							<!-- <p>
								庐山云雾观测数据是在庐山开展云雾观测试验期间积累的数据资料，分为历史观测数据和现代设备观测数据两部分。历史观测数据为中国气象局人工影响天气中心庐山云雾试验站于1958年-1993年间在庐山开展的云雾、降水和盐核等观测资料，是手工记录的纸质文档册集。现代设备观测数据为庐山云雾试验站自2015年11月重建以来至2020年8月期间，利用现代观测设备获取的电子数据资料，设备种类包括便携式自动气象站、雨量筒、能见度仪、雨滴谱仪、雾滴谱仪、颗粒物仪、微雨雷达和微波辐射计。
							</p>
							<p>
								2020-2021年，为了更好的发挥数据科学研究和科普宣传的重要价值，针对以上两类数据进行了数据集开发工作，形成具有文件描述信息、标准命名和格式规范统一的庐山云雾观测数据集。历史观测数据被重新归档、整理和数字化，形成利于存储和查阅的图片格式文档即0级数据集，以及便于计算分析和科学绘图的表格文档即1级数据集。对现代设备观测数据，形成标准命名的0级数据集，以及经标准命名、结构规范、质量控制和格式统一处理后的1级数据集，生成便于查看和阅读的csv文本格式，以及便于科学软件处理和分析的NETCDF格式的数据集。
							</p> -->
							<template>
								<div>
									<!-- <el-divider content-position="center">庐山云雾观测数据集</el-divider> -->
									<p>
										庐山云水条件丰富，是开展自然云雾观测研究的理想场所。云雾观测数据是理解自然云雾和降水特征、气候变化及人工影响天气的基础。从1960-1980年代和2015年以后基于庐山云雾试验站通过大量云雾观测试验获得了云雾观测数据，并在此基础上按照观测对象和设备种类加工获得了大量的数据产品，形成了历史观测数据和现代设备观测数据集。
									</p>
									<!-- <el-divider content-position="center">历史观测数据集</el-divider>
									<p>历史观测数据为庐山云雾试验站于1958年-1993年间在庐山开展的云雾、降水和盐核等观测资料，形成手工记录的纸质文档册集。历史观测数据被重新归档、整理和数字化，形成利于存储和查阅的图片文档即0级数据集，和便于应用分析的表格文档即1级数据集。</p>
									<el-divider content-position="center">现代设备观测数据集</el-divider>
									<p>现代设备观测数据为庐山云雾试验站于2015年11月-2020年8月期间使用现代观测设备获取的数据资料，观测设备包括便携式自动气象站、雨量筒、能见度仪、雨滴谱仪、雾滴谱仪、颗粒物仪、微雨雷达和微波辐射计。对现代设备观测数据进行标准命名形成0级数据集，以及进行标准命名、结构存储、质量控制和格式统一处理形成1级数据集，具有csv文本和NETCDF两种数据格式。</p>
									 -->
									<!-- <el-divider content-position="center">为了更好的发展，我们做了这些。</el-divider>
									<p>2020-2021年，为了更好的发挥数据科学研究和科普宣传的重要价值，针对以上两类数据进行了数据集开发工作，形成具有文件描述信息、标准命名和格式规范统一的庐山云雾观测数据集。历史观测数据被重新归档、整理和数字化，形成利于存储和查阅的图片格式文档即0级数据集，以及便于计算分析和科学绘图的表格文档即1级数据集。对现代设备观测数据，形成标准命名的0级数据集，以及经标准命名、结构规范、质量控制和格式统一处理后的1级数据集，生成便于查看和阅读的csv文本格式，以及便于科学软件处理和分析的NETCDF格式的数据集。
									</p> -->
								</div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	new Vue({
		el: '#data-introduction',
		data() {
			return {
			}
		}
	})
</script>
