<template>
	<div id="devices" class="departments">
		<div class="container">
			<div class="row">
				<div class="col-lg-3" style="width: 100%;">
					<ul class="nav nav-tabs flex-column">
						<li class="nav-item">
							<a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">便携式自动气象站</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-2">雨量筒</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-3">能见度仪</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-4">云高仪</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-5">雨滴谱仪</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-6">雾滴谱仪</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-7">颗粒物仪</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-8">微雨雷达</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-9">微波辐射计</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
/* .col-lg-3{
	width: 100% !important;
} */
</style>
<script>
	new Vue({
		el: '#device-menu',
		data() {
			return {
			}
		},
		beforeMount() {
		},
		watch: {},
		computed: {},
		methods: {
		}
	})
</script>
