<template>
	<div id="introduce-menu">
		<el-menu :default-active="this.currentDataType">
			<el-menu-item onclick="pushTo('inner-page-historyIntroduce.html?datasets-type=1')" style="font-size: 18px;" index="1" :unique-opened="true">
				<template slot="title">
					<span style="margin-right: 25px;" slot="title"><i class="el-icon-folder-opened" />历史观测数据集</span>
				</template>
			</el-menu-item>
			<el-menu-item onclick="pushTo('inner-page-currentDataIntroduce.html?datasets-type=2')" style="font-size: 18px;" index="2">
				<template slot="title">
					<span slot="title"><i class="el-icon-folder-opened" />现代设备观测数据集</span>
				</template>
			</el-menu-item>
		</el-menu>
	</div>
</template>
<script>
	new Vue({
		el: '#introduce-menu',
		data() {
			return {
				currentDataType: 0,
			}
		},
		beforeMount() {
			this.getCurrentDataType()
		},
		watch: {},
		computed: {},
		methods: {
			getCurrentDataType() {
				href_str = window.location.href
				this.currentDataType = href_str.split('datasets-type=')[1][0]
			}
		}
	})
</script>
