<section id="learn-more" class="why-us">
	<div class="container">
		<div class="row">
			<div class=" d-flex align-items-stretch" style="flex-direction: column;">
				<div class="content">
					<div class="section-title">
						<h2>了解更多</h2>
						<p>这里是引导语.</p>
					</div>
					<div class="row" style="align-content: center; flex-direction: column; flex-wrap: wrap;">
						<div class="textBox" style="width: 75%;">
							<h2>{{activate_device_name}}概述</h2>
							<p>&nbsp; &nbsp;
								HM-YQX5型产品
							</p>
							<h2>{{activate_device_name}}特点</h2>
							<p>*采用先进的传感技术实时测量</p>
							<h2>{{activate_device_name}}应用领域</h2>
							<p>*气象监测</p>
							<h2>{{activate_device_name}}技术参数表</h2>
							<p>*桥梁隧道</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
