<section id="why-us" class="why-us">
	<div class="container">
		<div class="row">
			<div class=" d-flex align-items-stretch">
				<div class="content">
					<!-- ======= Datasets Section ======= -->
					<section id="Datasets" class="services">
						<div class="container">

							<div class="section-title">
								<h2>关于我们</h2>
								<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
									aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
									quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
									sit
									in iste officiis commodi quidem hic quas.</p>
							</div>

							<div class="row">


								<h3>庐山云雾物理试验基地</h3>
								<p>
									庐山云雾试验站的前身为成立于1959年的江西省庐山天气控制研究所， 1967年中央观象台云雾研究室与研究所合并成立中央气象局云雾物理研究所，
									1978年，国家气象局将庐山云雾物理研究所大部分人员迁回北京，改名为国家气
									象局气象科学研究院人工影响天气研究所。庐山部分改名为国家气象局气象科学 研究院庐山云雾试验站，现为中国气象科学研究院庐山云雾试验站。庐山云雾试
									验站位于江西省九江市庐山风景区内，年平均降雨日数172天，平均每月14天，年
									平均雾日196天，是一个可开展云雾物理观测科学试验研究的天然理想场所。
								</p>
								<p>
									在1960-1980年间，科研人员在庐山进行了大量的云雾观测研究，积累了大
									量的云、雨、冰晶、雨滴谱等观测资料。取得了各种云雾微物理资料2461份， 雨滴谱资料5000余份，为我国高山云雾基础研究做出了重要贡献。
								</p>

								<p>
									目前中国气象科学研究院正着手调研和方案设计，加强庐山云雾试验站科学 试验配套基础条件建设，将庐山云雾试验站建设成我国云雾物理和人工影响天气试
									验场，为高山云雾成因、微物理结构和演变规律以及人工消云雾试验提供研究平台。
								</p>
								<div class="text-center">
									<a href="#" class="more-btn">了解更多<i class="bx bx-chevron-right"></i></a>
								</div>
							</div>

						</div>
					</section>

				</div>
			</div>
		</div>

	</div>
</section>
