<section id="why-us" class="why-us">
	<div class="container">
		<div class="row">
			<div class=" d-flex align-items-stretch">
				<div class="content">
					<!-- ======= Datasets Section ======= -->
					<section id="Datasets" class="services">
						<div class="container">

							<div class="section-title">
								<h2>关于我们</h2>
							</div>
							<template>
								<!-- 中国气象局人工影响天气中心 -->
								<!-- <el-card class="elcard">
									<h5>中国气象局人工影响天气中心</h5>
									<p>
										中国气象局人工影响天气中心于2021年12月21日正式启动，旨在更好地发挥国家级业务单位的牵头引领作用，强化对全国人工影响天气工作的科技支撑和业务指导，有力推动我国气象事业高质量发展，提高我国气象科技的世界竞争力和国际地位。人工影响天气工作关系生命安全、生产发展、生活富裕、生态良好，是一项合理利用气候资源，通过科技手段实现趋利避害、造福人民的重要工作，在保障生态文明建设、自然灾害防治、国家粮食安全、水资源补给和重大活动举办等方面做出了重要贡献。
									</p>
								</el-card> -->
								<el-card>
									<div class="about-top">
										<div class="col-md-8 top-about">
											<h5 class="whyUs-title">中国气象局人工影响天气中心</h5>
											<p>
												中国气象局人工影响天气中心于2021年12月21日正式启动，旨在更好地发挥国家级业务单位的牵头引领作用，强化对全国人工影响天气工作的科技支撑和业务指导，有力推动我国气象事业高质量发展，提高我国气象科技的世界竞争力和国际地位。人工影响天气工作关系生命安全、生产发展、生活富裕、生态良好，是一项合理利用气候资源，通过科技手段实现趋利避害、造福人民的重要工作，在保障生态文明建设、自然灾害防治、国家粮食安全、水资源补给和重大活动举办等方面做出了重要贡献。
											</p>
										</div>
										<div class="col-md-4 about-in">
											<img class="img-responsive about-top-img" src="" alt=" ">
										</div>
										<div class="clearfix"> </div>
									</div>
								</el-card>
								<!-- 庐山云雾试验站 -->
								<el-card>
									<div class="about-top">
										<div class="col-md-8 top-about">
											<h5 class="whyUs-title">庐山云雾试验站</h5>
											<!-- <p>
												庐山云雾站是我国云降水物理学科开创时期建立的一个外场试验站，为我国云降水物理学科的发展做出了重要的贡献。其前身为成立于1959年的江西省庐山天气控制研究所，1967年中央观象台云雾研究室与研究所合并成立中央气象局云雾物理研究所，1978年国家气象局将庐山云雾物理研究所迁回北京，改名为国家气象局气象科学研究院人工影响天气研究所，后改名为国家气象局气象科学研究院庐山云雾试验站，现在隶属于中国气象局人工影响天气中心。
											</p>
											<p>
												庐山云雾试验站于2015年11月恢复建设，架设了7台设备在内云雾观测平台。2021年3月改造后的庐山云雾站形成气溶胶-云降水综合观测平台，设备包括雾滴谱仪、雨滴谱仪、云高仪、能见度仪、冰核采样器、自动气象站、微雨雷达、雨量筒、微波辐射计（2台）、雾水采集器（2台）和延时摄像机等，为云雾降水观测试验的开展提供了良好的平台基础。
											</p> -->
											<p>
												庐山云雾站是我国云降水物理学科开创时期建立的一个外场试验站，前身为成立于1959年的江西省庐山天气控制研究所，1967年中央观象台云雾研究室与研究所合并成立中央气象局云雾物理研究所，1978年国家气象局将庐山云雾物理研究所迁回北京，改名为国家气象局气象科学研究院人工影响天气研究所，后改名为国家气象局气象科学研究院庐山云雾试验站，现在隶属于中国气象局人工影响天气中心。2015年11月庐山云雾试验站恢复建设，形成气溶胶-云-降水综合观测平台，设备包括雾滴谱仪、雨滴谱仪、云高仪、能见度仪、冰核采样器、自动气象站、微雨雷达、雨量筒、微波辐射计（2台）、雾水采集器（2台）和延时摄像机等，为云雾降水观测试验的开展提供了良好的平台基础。
											</p>
										</div>
										<div class="col-md-4 about-in">
											<img class="img-responsive about-top-img"
												src="./assets/img/introduce/庐山云雾试验站.jpg" alt=" ">
										</div>
										<div class="clearfix"> </div>
									</div>
								</el-card>
								<!-- 观测试验 -->
								<el-card>
									<h5 class="whyUs-title">观测试验</h5>
									<el-row style="display: flex;justify-content: center;">
										<el-col :span="8" onclick="pushTo('inner-page-whyUs.html?flag=3')" class="GCSY">
											<el-card :body-style="{ padding: '0px' }">
												<img src="./assets/img/introduce/观测试验01.png" class="image">
												<div style="padding: 14px;text-align: center;">
													<span>历史观测试验</span>
												</div>
											</el-card>
										</el-col>
										<el-col :span="8" style="margin-left: 10%;"
										 onclick="pushTo('inner-page-whyUs.html?flag=3')"
										  class="GCSY">
											<el-card :body-style="{ padding: '0px' }">
												<img src="./assets/img/introduce/观测试验02.jpg" class="image">
												<div style="padding: 14px;text-align: center;">
													<span>现代观测试验</span>
												</div>
											</el-card>
										</el-col>
									</el-row>
									<!-- <div>
											<div class="experience-grids">
												<div class="experience-left">
													<img class="experience-left-img"
														src="./assets/img/introduce/观测试验01.png" />
												</div>
												<div class="experience-right">
													<h5>观测试验</h5>
													<p>
														在1960-1980年间，基于庐山云雾试验站开展了大量的云雾特种观测和试验，先后开展过高山云雾滴谱观测方法及结果研究、云雾中含水量的观测方法研究、云雾滴谱梯度观测、九江地区盛夏对流云发展高度的观测研究、爱根核观测研究、人工消雾等试验。试验过程中积累了大量的云、雨、冰晶、雨滴谱等观测资料，取得了各种云雾微物理资料2461份，雨滴谱资料5000余份。这些资料是认识我国云微物理的第一手资料，填补了我国这一科学领域的空白，为我国人工影响天气的基础工作出了重要贡献。
													</p>
												</div>
												<div class="clearfix"> </div>
											</div>
								
											<div class="experience-grids" style="margin-top: 2%;">
												<div class="experience-left" style="float: right;">
													<img class="experience-left-img"
														src="./assets/img/introduce/观测试验02.jpg" />
												</div>
												<div class="experience-right" style="float: left;">
													<p>
														庐山云雾试验站恢复建设以来，利用雾滴谱仪、雨滴谱仪、能见度仪、云高仪、微雨雷达、自动气象站等设备持续开展的云雾和降水观测试验。先后开展过季节性云雾降水观测试验（2016-2018年）、雾滴谱仪对比观测试验（2017和2019年）、气溶胶-云（雾）-降水综合观测试验（2019年）和国家（庐山）云雾物理试验基地外场观测试验（2021年）等，这些观测试验是对1959年在庐山云雾站成立的天气控制研究所的云雾观测的传承和延续，对揭示天然云雾宏微结构特征的研究具有重要意义。
													</p>
												</div>
												<div class="clearfix"> </div>
											</div>
										</div> -->
								</el-card>
							</template>
						</div>
					</section>
				</div>
			</div>
		</div>

	</div>
</section>
<script>
	new Vue({
		el: '#why-us',
		data() {
			return {};
		},
		methods: {}
	})
</script>
