/*导航栏start*/
.el-menu-item.is-active {
	color: #1977CC !important;
}

/*导航栏 end*/
/*介绍样式 start*/
.Introduce-div {
	margin: 2% 0px 2%;
}

.Introduce-div h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	/* padding-bottom: 20px; */
	position: relative;
	color: #2c4964;
}

.Introduce-div p {
	text-indent: 2em;
	line-height: 35px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-family: "宋体", serif, sans-serif;
	/*cursive, */
	font-size: 18px;
	font-weight: 200;
}

/*介绍样式 end*/
/* 面包屑样式 start*/
.breadcrumbs {
	margin-top: -5px;
	padding: 0 0;
}

/* 返回按钮大小 */
.el-button--text {
	color: #1977CC;
	font-size: 24px;
}

.breadcrumbs ol {
	font-size: 16px;
}

/* 面包屑样式 end*/
#copyright {
	margin-top: 6%;
	width: 100%;
}

.data-download {
	display: flex;
	justify-content: center;
	align-items: center;
}

.el-button--primary,
.el-button--primary:focus {
	color: #FFF;
	background-color: #1977CC;
	border-color: #1977CC;
	margin-bottom: 2%;
	margin-bottom: 5%;
}

.document-col {
	color: #1977CC;
	font-size: 18px;
	font-weight: bold;
	/* border-right: 2px solid #1977CC */
	/* padding: 0 15px; */
	width: fit-content;
	/* border-radius: 15px; */
}

.el-link--inner {
	color: #1977CC;
}

.el-link.el-link--primary {
	color: #1977CC;
}

/*设备介绍*/
.device_content {
	width: 70%;
}

.device-img {
	width: 30%;
	height: 264px;
}

.device-img img {
	width: 100%;
}

.el-tab-pane {
	display: flex;
}

.el-tag {
	
    font-size: 13px;
	color: #1977cc;
}

.el-tabs__item.is-active,
	{
	color: #1977CC !important;
}

.el-tabs__item {
	font-size: 16px !important;
}

.el-collapse-item__header {
	font-size: 16px !important;
	background-color: #F1F7FD !important;
	padding: 1.25rem;
	margin-bottom: 10px;
	/* border-radius: 0px 0px 25px 25px;*/
}

.el-descriptions-item__container {
	/* display: -webkit-box; */
/* 	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; */
}
.el-descriptions-item__label{
	width: 22%;
}.el-descriptions-item__content{
	width: 74%;
}
.el-descriptions-item__label:not(.is-bordered-label) {
    margin-right: 10px;
}
.my-label{
	color: #1977cc;
}
.my-content{
	/* margin-left: 2em; */
}
.my-content-2{
	/* margin-left: 7em;
	text-indent: 0!important; */
}
.file-content{
	/* margin-left: 2em; */
}
.my-content span:last-child{
	margin-left: 40px;
}
.level_align{
	/* 指控描述与01级对齐 */
	padding-left: 33px;
}
.el-tabs__nav-prev,.el-tabs__nav-next{
    color: #1977CC;
    font-size: 20px;
    font-weight: bold;
}
.el-tabs__header .el-tabs__item.is-active, .el-tabs__header .el-tabs__item:hover{
    color: #1977CC;
}
.el-descriptions{
	/* font-size: 16px; */
}
.el-collapse-item__content {
	font-size: 16px;
}
.el-link--inner {
	font-size: 16px;
}
/* .el-descriptions-item p {
	word-break: break-all;
	width: 90%;
} */

/* .el-descriptions-item__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
} */
