.whyUs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#whyUs-menu {
	width: -webkit-fit-content;
	margin-top: 6px;
}

.el-menu {
	width: fit-content;
}

.el-menu-item {
	font-size: 18px;
}

.el-menu-item.is-active,
.el-menu-item:focus {
	color: #1977cc;
	background-color: #ffffff;
}

#whyUs-content {
	/* width: 70%; */
	margin-top: 6px;
}
.about-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-in {
	width: 66%;
    display: flex;
    justify-content: center;

}
.top-about {
	border: 1px solid #eaeaea;
	padding: 2em 2em;
	width: 100%;
	/* padding: 0 0 2em; */
}