.whyUs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#whyUs-menu {
	width: -webkit-fit-content;
	margin-top: 6px;
}

.el-menu {
	width: fit-content;
}

.el-menu-item {
	font-size: 18px;
}

.el-menu-item.is-active,
.el-menu-item:focus {
	color: #1977cc;
	background-color: #ffffff;
}

#whyUs-content {
	/* width: 70%; */
	margin-top: 6px;
}
.whyUs-title{
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
.whyUs-title hr{
	color: #EEE;
	width: 100%;
}
.about-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-in {
	width: 66%;
    display: flex;
    justify-content: center;

}
.about-top-img {
	background: none;
	/* border: 2px solid #eaeaea; */
	padding: 0em;
	/* -webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all; */
}
.GCSY{
	width:30%;
}
.about-top:hover .about-top-img {
	padding: 0em;
	transition: .5s all;
}
.top-about {
	border: none;
	padding: 2em 2em;
	width: 100%;
	/* padding: 0 0 2em; */
}