<table>
	<tbody>
		<tr>
			<td>设备名称及型号</td>
			<td colspan="2">便携式自动气象站，华云GH-BPR</td>
		</tr>
		<tr>
			<td>数据集级别及格式</td>
			<td>0级：文本xlsx</td>
			<td>1级：csv；NetCDF</td>
		</tr>
		<tr>
			<td>观测要素</td>
			<td colspan="2">气压、温度、相对湿度、风向、风速、雨量</td>
		</tr>
		<tr>
			<td>观测时间</td>
			<td colspan="2">2015年11月-2020年8月</td>
		</tr>
		<tr>
			<td>时间分辨率</td>
			<td colspan="2">1分钟</td>
		</tr>
		<tr>
			<td>质控描述</td>
			<td>无</td>
			<td>一致性、连续性、界限值、时变性检查</td>
		</tr>
		<tr>
			<td>文件名标识</td>
			<td colspan="2">SURE_MODI_MOBS_SUOB_LSYW_AWS</td>
		</tr>
	</tbody>
</table>

