<table>
	<tbody>
		<tr>
			<td>设备名称及型号</td>
			<td colspan="2">微波辐射计，Radiometric MP-3055A和MP-3069A</td>
		</tr>
		<tr>
			<td>数据集级别及格式</td>
			<td>0级：文本.csv</td>
			<td>1级：csv；NetCDF</td>
		</tr>
		<tr>
			<td>观测要素</td>
			<td colspan="2">地面温度、相对湿度和气压；红外温度；云底高度；垂直累计水汽含量、垂直累计液态水含量；温度、相对湿度、水汽密度和液态水含量廓线等</td>
		</tr>
		<tr>
			<td>观测时间</td>
			<td colspan="2">2021年3-4月（测试数据）</td>
		</tr>
		<tr>
			<td>时间分辨率</td>
			<td colspan="2">分钟级</td>
		</tr>
		<tr>
			<td>质控描述</td>
			<td>无</td>
			<td>参数合理性检查</td>
		</tr>
		<tr>
			<td>文件名标识</td>
			<td colspan="2">UPAR_MODI_MOBS_SUOB_LSYW_MRD</td>
		</tr>
	</tbody>
</table>
