<table>
	<tbody>
		<tr>
			<td>设备名称及型号</td>
			<td colspan="3">微雨雷达，METEK MRR2</td>
		</tr>
		<tr>
			<td>数据集级别及格式</td>
			<td>0级：文本csv</td>
			<td>1级：csv；NetCDF</td>
		</tr>
		<tr>
			<td>数据级别</td>
			<td>Level raw</td>
			<td>Level pro</td>
			<td>Level ave</td>
		</tr>
		<tr>
			<td>观测要素</td>
			<td>转换方程、原始功率谱</td>
			<td colspan="2">转化方程、FFT谱、雨滴尺度谱、雨滴数浓度谱、路径积分衰减、雷达反射率因子、订正后的雷法反射率因子、降水强度、液态水含量、垂直速度等</td>
		</tr>
		<tr>
			<td>分档数</td>
			<td colspan="3">31个高度档；64个粒径档</td>
		</tr>
		<tr>
			<td>观测时间</td>
			<td colspan="3">2015年11月-2017年9月；2019年9月-2020年10月</td>
		</tr>
		<tr>
			<td>时间分辨率</td>
			<td colspan="3">10秒</td>
		</tr>
		<tr>
			<td>质控描述</td>
			<td>无</td>
			<td>参数合理性检查</td>
		</tr>
		<tr>
			<td>文件名标识</td>
			<td colspan="3">RADA_MODI_MOBS_SUOB_LSYW_RRD</td>
		</tr>
	</tbody>
</table>
