<table>
	<tbody>
		<tr>
			<td>设备名称及型号</td>
			<td colspan="2">雾滴仪，DMT FM100</td>
		</tr>
		<tr>
			<td>数据集级别及格式</td>
			<td>0级：文本csv</td>
			<td>1级：csv；NetCDF</td>
		</tr>
		<tr>
			<td>观测要素</td>
			<td colspan="2">分档粒子数、数浓度、体积浓度、体积中值直径、有效直径、空气流速等</td>
		</tr>
		<tr>
			<td>分档数</td>
			<td colspan="2">20个粒径档：2-50μm</td>
		</tr>
		<tr>
			<td>观测时间</td>
			<td colspan="2">2015年11月-2020年8月</td>
		</tr>
		<tr>
			<td>时间分辨率</td>
			<td colspan="2">1秒</td>
		</tr>
		<tr>
			<td>质控描述</td>
			<td>无</td>
			<td>连续性和参数合理性检查</td>
		</tr>
		<tr>
			<td>文件名标识</td>
			<td colspan="2">SURE_MODI_MOBS_SUOB_LSYW_FSD</td>
		</tr>
	</tbody>
</table>
