<table>
	<tbody>
		<tr>
			<td>设备名称及型号</td>
			<td colspan="2">雨滴谱仪，Thies Clima LPM5</td>
		</tr>
		<tr>
			<td>数据集级别及格式</td>
			<td>0级：文本txt</td>
			<td>1级：csv；NetCDF</td>
		</tr>
		<tr>
			<td>观测要素</td>
			<td colspan="2">等级粒子直径和速度对应粒子个数、累计降雨量、1分钟总降水强度、1分钟液态降水强度、1分钟固态降水强度等</td>
		</tr>
		<tr>
			<td>分档数</td>
			<td colspan="2">22个粒径档0.125-8.5mm，20个速度档：0-大于10m/s</td>
		</tr>
		<tr>
			<td>观测时间</td>
			<td colspan="2">2015年11月-2020年10月</td>
		</tr>
		<tr>
			<td>时间分辨率</td>
			<td colspan="2">1分钟</td>
		</tr>
		<tr>
			<td>质控描述</td>
			<td>无</td>
			<td>连续性和异常数据检查</td>
		</tr>
		<tr>
			<td>文件名标识</td>
			<td colspan="2">SURE_MODI_MOBS_SUOB_LSYW_RSD</td>
		</tr>
	</tbody>
</table>
